<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732476650824-u6icml2e49pqhogvafdsvb51c43u2i13.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732476650824-u6icml2e49pqhogvafdsvb51c43u2i13</string>
	<key>API_KEY</key>
	<string>AIzaSyA53cdKNs2vQk3J5pOZIp6WFTSCUEwqXps</string>
	<key>GCM_SENDER_ID</key>
	<string>732476650824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pomodoroTimer</string>
	<key>PROJECT_ID</key>
	<string>pomodoro-crashlytics</string>
	<key>STORAGE_BUCKET</key>
	<string>pomodoro-crashlytics.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732476650824:ios:25d4870a85ecf0030e6f7d</string>
</dict>
</plist>